body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title{
text-decoration: underline;
margin: 1.5em 1em;
font-weight: bold;
}

input[type="text"]{
margin-left: 1em;
  width: 12%;
}

button{
  padding:0.4em;
}

.App {
  text-align: center;
  font-size: 1.2rem;
  /* background-color: #282c34; */
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}
